<h1>
<% if current_user.location == "Seattle" %>
Register Available Dates
<% elsif current_user.location == "Tokyo" %>
宿泊者受け入れ可能日を登録してください
<% end %>
</h1>

<%= render 'form' %>
<br />
<%= link_to 'Back', events_path %>
<div id="calendar"></div>